strong {
  font-weight: 500;
}

h3 {
  background: #CDA59C;
  padding: 1.6em 54px;
  color: #fff;
  font-weight: normal;
  font-size: 2em;
  margin: 0;
  min-height: 20vh;
}

h3 small {
  display: block;
  font-size: 16px;
  margin-top: 8px;
  font-style: italic;
  color: #ffffff;
}

h4 {
  font-weight: normal;
  font-size: 1.2em;
  margin-top: 1em;
  font-style: normal;
}

img {
  max-width: 100%;
}

.recipe {
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.recipe img {
  max-height: 400px;
}

.recipe-flex {
  display: flex;
  flex-direction: row;
}

.top-home {
  clear: both;
  background: #9CCC65;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 50%;
  padding: 2em 0 3em 0;
  font-size: 18px;
  background-color: rgba(232, 190, 182, 0.27);

}
input#ingredient{
  width:17px;
  height:17px;
}
.ingredientsSection {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-self: center;
  font-style: italic;
}

.btn {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: rgba(232, 190, 182, 0.6);
  color: white;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
  bottom: 0;
  right: 0;
  float: right;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(255, 173, 165, 0.86);
}

.objectFill {
  object-fit: fill;
  width: 80%;
  height: 63%;
  display: flex;
  align-self: center;
}

.plan {
  flex: 1 1 50%;
  display: flex;
  border-left: 3px solid #e3bbac;
  background-color: rgba(232, 190, 182, 0.27);
}

@media only screen and (max-width: 900px) {
  .objectFill .ingredientsSection {
    /*TODO - change the objectFill and ingredientsSection width to be calculable in regard to resizing the window */
  }
}

@media only screen and (max-width: 900px) {
  .recipe-flex {
    display: flex;
    flex-direction: column;
  }

  .plan {
    border-left: 0;
  }
}

p {
  margin: 60px 30px 30px 30px;
  text-align: left;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 18px;
}

.ingredients input {
  vertical-align: middle;
}

.ingredients label span {
  vertical-align: middle;
}


input[type=checkbox], input[type=radio] {
  margin: 0 6px 0 0;
  line-height: normal;

}

label {
  font-weight: normal;
}
