<app-carousel></app-carousel>
<div class="top-home">
  <div class="filterRecipes">
    <input type="text" [(ngModel)]="listFilter" placeholder="Search">
  </div>
  <div class="top-trip">
    <!-- items being paged -->
    <div class="item" *ngFor="let recipe of pagedItems | recipeFilter: listFilter">
      <div class="mask">
        <figure>
          <figcaption>
            <div class="figure-h">{{recipe.name}}</div>
            <br>
            <p (click)="recipeDetail(recipe)"><em><a>see more</a></em></p>
            <br>
            <br>
            <div class="adminSection">
              <p><em class="recipeEdit"><a (click)="recipeEdit(recipe)">Modify</a></em></p>
              <p><em><a (click)="delete(recipe)">Delete</a></em></p>
            </div>
          </figcaption>
        </figure>
      </div>

      <div class="item-inner">
        <img class="cardImage" src={{recipe.imageUrl}}/>
      </div>
    </div>
  </div>

  <!-- pager -->
  <div class="container">
    <div class="text-center">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </div>
  </div>

</div>
