$bgDefault      : rgba(205, 165, 156, 0.8);
$bgHighlight    : rgba(205, 165, 156, 0.8);
$colDefault     : #e9f0f2;
$colHighlight   : rgba(110, 75, 74, 0.6);
$dropDown       : false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  font-weight: bold;
  font-size: 1.4em;
  font-family: "Droid Sans", sans-serif;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

footer {
  background: $bgHighlight;
  color: #fff;
  text-align: center;
  padding: 9px 0 20px 0;

}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 150px;
}

.container {
  margin-top: 50px;
  color: #fff;
  width: 100%;
  min-height: calc(100vh - 40px);
}

.fa-twitter {
  color: #4099FF;
}

.fa-facebook {
  color: #3B5998;
}

.fa-flickr {
  color: #ff0084;
}

.fa-pinterest {
  color: red;
}

.fa {
  opacity: 0.9;
  transition: 1s;
  -webkit-transition: 1s;
}

.fa:hover {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
}

.circle-icon {
  font-size: 45px;

  padding: 10px;
  -webkit-border-radius: 1100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;

  box-shadow: 0 1px 10px rgba(0, 0, 0, 1);
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  background: #fff;
  margin-right: 15px;
}

.social {
  display: flex;

  justify-content: center;
}

.navbar {
 margin-bottom: 0 !important;
}

h3{
  background-color: #CDA59C;
}

.copyright{
  font-size: 1em;
  font-weight: bold;
}

.footer-label{
  font-size: 1.4em;
  padding-top: 5px;
  padding-bottom: 5px;
}
